{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Swiss Off Shore has served Winfield, Alabama and the surrounding areas for over 100 years.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="Swiss Off Shore has served Winfield, Alabama and the surrounding areas for over 100 years.">
    <meta name="twitter:title" content="Swiss Off Shore - Swiss Off Shore has served Winfield, Alabama and the surrounding areas for over 100 years.">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>swiss offshore</title>
</head>
<body>
    <div class="nav-cont">
        <span class="logo-text"><h1>SwissOffShore <br><small>banking since 1920</small></h1></span>
        
        <nav>
            <ul>
                <li><a href="#alert">alerts</a></li>
                <li><a href="#about">about</a></li>
                <li><a href="#people">people</a></li>
                <li><a href="#">contact us</a></li>
            </ul>
        </nav>
        <span class="auth">
            <ul>
                <li><a href="#">register</a></li>
                <li><a href="{% url 'login' %}">login</a></li>
            </ul>
        </span>
    </div>

    <section class="header">

        <div class="slideshow">
                
            <div class="slider fade1">
                <strong class="cap1">we have put smiles on millions of families face for over 100 years.</strong>
            </div>
            <div class="slider fade2">
                <strong class="cap2">our banking system is among the best in the world as we have over 500 active accounts managers taking care of you</strong>
            </div>
            <div class="slider fade3">
                <strong class="cap3">we offer loans and allow overdrafts. we support young bussiness to grow</strong>
            </div> 

        </div>

        <header>
            <div>
                SwissOffShore &copy;
            </div>
            <ul>
                <li><a href="#">create an account</a></li>
            </ul>
        </header>

    </section>

    <section class="alert" id="alert">
        <h2>Locally Owned. <br> Trusted Service.</h2>
        <h3>
            Banking is all about people. At Swiss Off Shore, we get that, and we have
            for well over 100 years. We were founded in 1920 to meet the financial
            needs of families, businesses, and our community — and we’re still
            doing it today. Real people providing outstanding banking products and
            personal service to you. It’s just what we do. And we love it &copy;.
        </h3>
    </section>

    <section class="about" id="about">
        <div>one account! all of SwissOffShore!!</div>
        <span>
            SwissOffShore founded since 1920 was inspired by the stalcup families to help the middle class an low class.<br>
            over the years, we have grown varstly in the united states and have 400+ breanches in the the states. <br>
            we still operate internationally through the help of technologies. our customers abroad can create and manage their accounts through any device with an internet connection. <br>
            we belive in giving back to the community, as such we do not charge for managing, funding, withdrawing from accounts. <br>
            accounts can be registerd by an account manager. we have proffessionals who can assist you internationally.
        </span>
    </section>

    <section class="people" id="people">
        <div class="people-body">
            <div class="people-message">
                <div class="people-image-name">
                    <span>mr and mrs jefferson</span>
                    <span><img src="/static/photo/slide3.jpg" alt=""></span>
                </div>
                <div class="people-text">hello we love investing with swiss offshore.</div>
            </div>

            <div class="people-message">
                <div class="people-image-name">
                    <span>mr and mrs jefferson</span>
                    <span><img src="/static/photo/slide3.jpg" alt=""></span>
                </div>
                <div class="people-text">hello we love investing with swiss offshore.</div>
            </div>

            <div class="people-message">
                <div class="people-image-name">
                    <span>mr and mrs jefferson</span>
                    <span><img src="/static/photo/slide3.jpg" alt=""></span>
                </div>
                <div class="people-text">hello we love investing with swiss offshore.</div>
            </div>

            <div class="people-message">
                <div class="people-image-name">
                    <span>mr and mrs jefferson</span>
                    <span><img src="/static/photo/slide3.jpg" alt=""></span>
                </div>
                <div class="people-text">hello we love investing with swiss offshore.</div>
            </div>

            <div class="people-message">
                <div class="people-image-name">
                    <span>mr and mrs jefferson</span>
                    <span><img src="/static/photo/slide3.jpg" alt=""></span>
                </div>
                <div class="people-text">hello we love investing with swiss offshore.</div>
            </div>
        </div>
    </section>


    <script src="/static/javascript/jquary.js"></script>
    <script src="/static/javascript/slide.js"></script>
    <script src="/static/javascript/scroll.js"></script>
</body>
</html>